@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 100%;
}

.global-padding {
  padding: 5rem 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
header ul::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
header ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h1 {
  font-size: 2rem;
}

ul {
  list-style: none;
}
